#busway {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(-90deg, #0E8C43 50%, #FEC111 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

#drop img { 
    width:50%; height:auto; left:50%; top:20%; margin:auto; 
}
#drop{
	height: 50px;
	width: 609px;
	margin: 0 auto;
	background-color : white;
}
#nav {
    list-style:none;
    height: 40px;
    /* margin: 0 auto; */
    margin: auto;
    padding:1px 1px;
    background-color: rgba( 255, 255, 255, 0 );
    text-align: center;
    display: inline-block;
    /* left: 50%;
    top: 85px;
    width: 600px; */
}


#nav li{
	top: 50%;
	height:25px;
	margin-top: -12.5px;
    float:left;
    position:relative;
    padding:0;
    
}
#nav li li{
    background-color: gray;
}
#nav li a {
    display:block;
    font-size:18px;
    margin:0;
    text-decoration:none;
}

/* #nav li:hover > a {
    color: #0E8C43;
    margin:0;
    padding:5px;
} */

#nav ul li:hover > a {
    color: #0E8C43;
    margin:0;
    padding:5px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 25px;
    width: 203px;
    margin-left: -101.5px;
    text-align: center;
    opacity:0;
}


#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#nav li a {
    font-weight: normal;
    height: 25px;
}

/* #nav ul li:hover a {
    color: #0E8C43;
}
#nav li a:hover{
	font-size: 1.3rem;
} */
#nav ul li a:hover{
	font-size: 1.3rem;
}
#nav>li>a>span{
	display: inline-block;
	height: 105%;
	background-color: white;
}
#nav>li>a>span:hover{
	 color: #0E8C43;
	 font-size: 1.3rem;
}

#nav li ul{
    opacity: 1;
    display: none;
}

#nav:hover ul li {
    height: 35px;
    background-color: rgba( 211, 211, 211, 0.9 );
    overflow: visible;
    padding:0;
}

#nav ul li{
	height: 35px;
	padding: 0;
}


footer li {
    list-style: none;
}

.main_c {
    text-align: center;
}


.menu_2 a {color:white; font-weight:bolder; text-decoration:none;}
.menu_2 a:hover {color:#08C;}
.copyright {text-align:center;color:#fff;font-weight:bolder;margin:5px 0 5px 0;}
.copyright a {color:#333;text-decoration:none;}
.copyright a:hover {color:#08C;}
